<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                           https://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util
                           https://www.springframework.org/schema/util/spring-util.xsd
                           http://www.springframework.org/schema/security
                           https://www.springframework.org/schema/security/spring-security.xsd">

    <!-- Public URLs -->
    <security:http pattern="/pages/login/login" security="none"/>
    <security:http pattern="/SystemStatus" security="none"/>
    <security:http pattern="/RssReader" security="none"/>
    <security:http pattern="/RequestPassword" security="none"/>
    <security:http pattern="/RequestAccount" security="none"/>
    <security:http pattern="/includes/**" security="none"/>
    <security:http pattern="/images/**" security="none"/>
    <security:http pattern="/help/**" security="none"/>
    <security:http pattern="/ws/**" security="none"/>
    <security:http pattern="/Contact" security="none"/>

    <!-- HTTP Security Configuration -->
    <security:http access-denied-page="/accounts/denied.htm" entry-point-ref="authenticationProcessingFilterEntryPoint">

        <security:anonymous />

        <security:intercept-url pattern="/**" access="ROLE_USER" />
        <security:custom-filter ref="myFilter" position="FORM_LOGIN_FILTER" />
        <security:custom-filter ref="concurrencyFilter" position="CONCURRENT_SESSION_FILTER" />
        <security:session-management session-authentication-strategy-ref="sas"/>
        <security:logout logout-success-url="/MainMenu" logout-url="/j_spring_security_logout" />

    </security:http>

    <!-- Authentication Entry Point -->
    <bean id="authenticationProcessingFilterEntryPoint"
          class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <constructor-arg value="/pages/login/login"/>
    </bean>

    <!-- Authentication Filter -->
    <bean id="myFilter" class="org.akaza.openclinica.web.filter.OpenClinicaUsernamePasswordAuthenticationFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationFailureHandler" ref="failureHandler" />
        <property name="authenticationSuccessHandler" ref="successHandler" />
        <property name="auditUserLoginDao" ref="auditUserLoginDao"/>
        <property name="configurationDao" ref="configurationDao"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="allowSessionCreation" value="true" />
        <property name="sessionAuthenticationStrategy" ref="sas"/>
    </bean>

    <!-- Success Handler -->
    <bean id="successHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
        <property name="defaultTargetUrl" value="/MainMenu" />
    </bean>

    <!-- Failure Handler -->
    <bean id="failureHandler" class="org.springframework.security.web.authentication.ExceptionMappingAuthenticationFailureHandler">
        <property name="defaultFailureUrl" value="/pages/login/login?action=errorLogin" />
        <property name="exceptionMappings">
            <map>
                <entry key="org.springframework.security.authentication.LockedException" value="/pages/login/login?action=errorLocked"/>
            </map>
        </property>
    </bean>

    <!-- Concurrent Session Filter -->
    <bean id="concurrencyFilter" class="org.springframework.security.web.session.ConcurrentSessionFilter">
        <constructor-arg ref="sessionRegistry" />
        <constructor-arg value="/MainMenu" />
    </bean>

    <!-- Session Registry -->
    <bean id="sessionRegistry" class="org.akaza.openclinica.web.filter.OpenClinicaSessionRegistryImpl">
        <property name="auditUserLoginDao" ref="auditUserLoginDao"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- Session Authentication Strategy -->
    <bean id="sas" class="org.springframework.security.web.authentication.session.ConcurrentSessionControlAuthenticationStrategy">
        <constructor-arg ref="sessionRegistry" />
        <property name="maximumSessions" value="1" />
    </bean>

    <!-- Logout Handler -->
    <bean id="openClinicaLogoutHandler" class="org.akaza.openclinica.web.filter.OpenClinicaSecurityContextLogoutHandler">
        <property name="auditUserLoginDao" ref="auditUserLoginDao"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>
