__pycache__/
*.py[cod]
*$py.class
*.so
.env
.env.*
.venv
venv/
.venv_*/
*.egg-info/
.eggs/
dist/
build/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/
alembic/versions/*.pyc
*.db
*.sqlite3
